/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css";

body {
    margin: 0;
    font-family: Arial;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.material-icons {
    vertical-align: middle;
}
.mat-snack-bar-container {
    background: rgb(101, 194, 101) !important;
    color: #000 !important;
}
.mat-simple-snackbar {
    justify-content: center !important;
    font-size: 16px !important;
    color: #fff !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}