<div class="container">
  <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
      <h3>Register</h3>
      <div>
        <mat-icon>person</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>    

      <div>
        <mat-icon>email</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>    

      <div>
        <mat-icon>lock</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" type="submit">Register</button>
      </div>
  </form>
</div>